<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <form action="">
        <table border="0">
            <tr>
                <td>用户名：</td>
                <td>
                    <label for="username"></label>
                    <input type="text" id="username" v-model="user.username">
                </td>
            </tr>
            <tr>
                <td>密码：</td>
                <td>
                    <label for="password"></label>
                    <input type="password" id="password" v-model="user.password">
                </td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <input type="radio" id="male" name="gender" value="1" v-model="user.gender">
                    <label for="male">男</label>
                    <input type="radio" id="female" name="gender" value="0" v-model="user.gender">
                    <label for="female">女</label>
                </td>
            </tr>
            <tr>
                <td>邮件地址：</td>
                <td>
                    <label for="email"></label>
                    <input type="email" id="email" v-model="user.email">
                </td>
            </tr>
            <tr>
                <td>密码问题：</td>
                <td>
                    <label for="pwdQuestion"></label>
                    <input type="text" id="pwdQuestion" v-model="user.pwdQuestion">
                </td>
            </tr>
            <tr>
                <td>密码答案：</td>
                <td>
                    <label for="pwdAnswer"></label>
                    <input type="text" id="pwdAnswer" v-model="user.pwdAnswer">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="注册" @click.prevent="register">
                </td>
                <td>
                    <input type="reset" value="重填">
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            user: {
                username: '',
                password: '',
                gender: '',
                email: '',
                pwdQuestion: '',
                pwdAnswer: ''
            }
        },
        methods: {
            register() {
                console.log(this.user);
            }
        }
    })
</script>
</body>
</html>